
:root{
  --baseColor :#00c85d;
  --baseColor2 :#8833ff;
  --textColor :#656565;
}
body {
  background-color: #f9f7fc ;
}
a{
  text-decoration: none;
}
*{
  margin: 0px;
  padding: 0px;
  transition: all .3s ease-in-out;
  font-family: 'MyFont'!important;
  direction: rtl;
}
@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/vazir.ttf') format('truetype');
}

